{% extends 'base.html' %}
{% load static %}

{% block extra_head %}
    <!--css-->
    <link rel="stylesheet" type="text/css" href="{% static 'css/estilo.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/event_form.css' %}">

    
{% endblock extra_head %}

{% block navbar %}
{% include 'components/navbar.html' %}
{% endblock navbar %}

{% block left-var %}
{% include 'components/sidebars/left/sidebar.html' %}
{% endblock left-var %}

{% block main %}
    
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class= "bot">Guardar evento</button>
    </form>
{% endblock main %}

{% block right-var %}
{% include 'components/sidebars/right/sidebar.html' %}
{% endblock right-var %}



